
//facts about this exercise is working with 3 files
//mixin provide directive to reuse css code throughout a web page


$mycolor: #BBB584;
$fonti-stack: Ariel,Helvetica, san serif;
$primary-color: #2d946b
$secondary-color: #c1cefa

body{

   background color: $mycolor;
   font-family: $font-stack;
   line-height: 1.7;
 }

.showcase{
  background-color: $primary-color;
  body: #f54000;
  height:500px;
}

.container{
  max-width: 1000px;
  padding:0 30px;
  margin: 0 auto;
  overflow: hidden;

}